$darkGray: #2c3531;
$turquoise: #116466;
$medtan: #d9b08c;
$lighttan: #ffcb9a;
$coolmetal: #d1e8e2;

html {
  height: 100%;
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f6e5055d9ad1d603fd364c11823d026&auto=format&fit=crop&w=1052&q=80');
  background-size: cover;
}

body {
  height: 100%;
}

#root {
  position: relative;
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
}


.App {
  height: 100%;
}

.main {
  margin-top: 64px;
}

.toolbar {
  position: fixed;
  width: 100%;
  height: 56px;
  top: 0;
  left: 0;
  background: $turquoise;

  .toolbar-navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
  }

  .toolbar-toggle-button {
    @media(min-width: 769px){
      display: none;
    }
  }

  .toolbar-logo {
    margin-left: 1rem;
    a {
      text-decoration: none;
      font-size: 1.5rem;
      color: white;
    }
    @media(min-width: 769px){
      margin-left:0;
    }
  }

  .toolbar-navigation-items {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    li {
      padding: 0 0.5rem;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover, &:active {
        color: $medtan;
      }
    }

    .sign-up {
      background: white;
      border-radius: 2px;
      padding: 0.1rem 0.3rem;
      margin-left: 0.3rem;
      a {
        font-weight: 700;
        color: $turquoise;
        &:hover, &:active {
          color: $medtan;
        }
      }
    }

    @media (max-width: 768px){
      display: none;

    }
  }
}

.spacer {
  flex: 1;
}

.toggle-button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }

  .toggle-button-line {
    width: 30px;
    height: 2px;
    background: white;
  }
}

.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;

  ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li {
    margin: 0.5rem 0;
  }

  a{
    color: $turquoise;
    text-decoration: none;
    font-size: 1.2rem;
    &:hover, &:active {
      color: $medtan;
    }
  }

  img {
    cursor: pointer;
    height: 64px;
  }

  .sign-up{
    background: $turquoise;
    border-radius: 2px;
    margin-right: 0;
    width: 75px;
    padding: 0.3rem 0.1rem;
    a{
      color: white;
      font-weight: 700;
      margin-left: 0.3rem;
      &:hover, &:active {
        color: $medtan;
      }
    }
  }

  @media(min-width: 769px){
    display: none;
  }
}

.back-drop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  top: 0;
  left: 0;
}

.hero-container {
  width: 40%;
  margin-top: 10%;
  margin-left: 0;
  margin-right: 0;
  border-radius: 5px;
  border: solid 1px $coolmetal;
  display: flex;
  justify-content: center;
  h1{
    text-align: center;
    color: $coolmetal;
  }
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  width: 100%;
  align-self: flex-end;
  color: $coolmetal;

  p{
    align-self: flex-end;
    margin-right: 20px;
    a{
      cursor: pointer;
    }
    img {
      margin-right: 20px;
      height: 64px;

      @media (max-width: 768px){
        height: 32px;
      }
    }
  }
}
